@model User

@{
	ViewData["Title"] = "Ingresar";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
    <link rel="icon" href="~/favicon.ico" asp-append-version="true" />
    <title>Login</title>
</head>
<body>
    <div class="form-login">
        <h5>Inicio de Sesión</h5>
        <form asp-action="Login" method="post">
            <div class="form-group">
                <label asp-for="Usuario" class="control-label"></label>
                <input asp-for="Usuario" class="form-control" />
                <span asp-validation-for="Usuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="contraseña" class="control-label"></label>
                <input asp-for="contraseña" class="form-control" />
                <span asp-validation-for="contraseña" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </form>
        <li><p><a href="#">¿No ténes cuenta? Registrate</a></p></li>
    </div>
</body>
</html>