@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/index_Styles.css" asp-append-version="true" />
    <link rel="icon" href="~/favicon.ico" asp-append-version="true" />
    <title>CAsystem</title>
</head>
<body>
    <header>
        <div class="header-container">
            <div class="nav-navegation">
                <div class="text-header">
                    <h2>CAsystem</h2>
                    <small>System Assistens</small>
                </div>

                <div class="nav-container">
                    <nav>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">About Us</a>
                        <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Login">Ingresar</a>
                        <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Registro">Registrarse</a>
                    </nav>
                </div>

                <div class="link">
                    <a href="https://github.com/SirFrancis2007">Resume</a>
                    <a href="https://github.com/SirFrancis2007">Repository</a>
                </div>
            </div>
        </div>
    </header>

    <section class="main-text">
        <div class="container">
            <h1>
                CONTROL - PRECISION - EFICIENCIA
            </h1>
            <p>
                CAsystem is an assistance system for control management  <br />
                employee attendance, with the aim of keeping track of <br />
                the attendance of a company's employees, efficiently and accurately.
            </p>
        </div>
    </section>

    <footer>
        <div class="footer-container">
            <h3>Built with passion and dedication. | Francisco García | Carlos Bello | Jorge Casco | Guido Gavilan |</h3>
            <h6>Copyrigth 2023</h6>
        </div>
    </footer>
</body>
</html>
